/*	Mobile View  */
@media only screen and (min-width: 320px) {

	h1 {
		font-size: 27px;
		margin-bottom: 5%;		
	}

	.title {
		height: 700px;
	}

	.title h1 {
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		position: absolute;
		top: 45%;
		left: 50%;	
	}

	.intro img {
		margin-left: 25%;
		max-width: 50%;
  		max-height: 50%;
	}
}

@media only screen and (max-width: 499px) {
	.services h1 {
		margin-top: 15%;
	}

	.portfolio h1 {
		margin-top: 15%;
	}

	tr {
	  border-style: none;
	  display: grid;
	}

	.contact {
		padding-left: 10%;
	}

	.contact h1 {
		padding-left: 15%;
	}

	.project_label {
		font-size: 20px;
	}

	.btn-info {
		top: 400%;
	}
}


/*  Tablet View  */
@media only screen and (min-width: 500px) {
	.title {
		height: 900px;
	}

	.title h1 {
		font-size: 45px;
	}

	.title h3 {
		font-size: 30px;
	}

	.intro img {
		margin-left: 10%;
		max-width: 25%;
  		max-height: 25%;
	}

	.contact {
		padding-left: 20%;
	}

	.contact li {
		font-size: 20px;
	}

	.contact h1 {
		padding-left: 25%;
	}

	.project_label {
		font-size: 22px;
	}

	
}

/*  Laptop View  */
@media only screen and (min-width: 1024px) {
	.title {
		height: 1000px;
	}

	.title h1 {
		font-size: 60px;
		top: 45%;
	}
	
	.intro h1 {
		font-size: 45px;
	}

	.intro p {
		font-size: 20px;
	}
}